
.button {
  @include full-width(flex);
  @include font(16px, 24px, $white, 600);

  align-items: center;
  justify-content: center;
  height: 64px;
  background: $black;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: rgba($white, 0.6);
  }

  &--disabled {
    color: rgba($white, 0.6);
    opacity: 0.6;
    cursor: default;
  }
}
